= form_for(@idea, :html => { :multipart => true, :class => "form" }) do |form|
  = form.text_field_fieldset :name, :class => "form-control"
  = form.text_area_fieldset :description, :class => "form-control"
  = form.file_field_fieldset :attachment, :class => "form-control"
  = form.text_field_fieldset :address, :class => "form-control"
  = form.check_box_fieldset :is_public, {checked: true, checked_value: "true", unchecked_value: "false"}
  = form.submit :class => 'form-control btn btn-default'
