= form_for(@idea, :html => { :multipart => true, :class => "form" }) do |form|
  = form.text_field_fieldset :name, :class => "form-control"
  = form.text_area_fieldset :description, :class => "form-control"
  = form.file_field_fieldset :attachment, :class => "form-control"
  = form.submit :class => 'btn btn-default'
