= form_for(@idea, :html => { :multipart => true, :class => "form" }) do |form|
  = form.label :name
  = form.text_field :name, :class => "form-control"

  = form.label :description
  = form.text_area :description, :class => "form-control"

  = form.label :attachment
  = form.file_field :attachment, :class => "form-control"

  = form.label :address
  = form.text_field :address, :class => "form-control"

  = form.label :is_public
  = form.check_box :is_public, {checked: true, checked_value: "true", unchecked_value: "false"}

  = form.submit :class => 'form-control btn btn-default'
