%h1 Listing ideas
%div{style: "width: 800px;"}
  #map{style: "width: 800px; height: 400px;"}
%table#ideas.table
  %thead
    %tr
      %th Name
      %th Description
      %th Picture
      %th Creator
      %th Public
      %th Actions
      %th
      %th
      %th
  %tbody
    - @ideas.each do |idea|
      = display_for idea, :template => 'table' do |display|
        %tr{:id=>dom_id(idea)}
          %td= display.default(:name)
          %td= display.default(:description)
          %td= display.default(:attachment)
          %td= idea.user_id
          %td= display.default(:is_public)
          %td= link_to 'Show', idea
          %td= link_to 'Edit', edit_idea_path(idea)
          %td= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Idea', new_idea_path
