.action-links
  = link_to 'New Idea', new_idea_path

%h1 Listing ideas

%div{style: "width: 100%;"}
  #all_ideas_map{style: "width: 100%; height: 400px;margin-bottom: 20px"}

%table#ideas.table
  %thead
    %tr
      %th Name
      %th Description
      %th Picture
      %th Creator
      %th Public
      %th Address
      %th Actions
      %th
      %th
      %th
  %tbody
    - @ideas.each do |display|
      %tr{:id=>dom_id(display)}
        %td= display.name
        %td= display.description
        %td= display.attachment
        %td
          %img{:src => display.user.try(:avatar)}
          = display.user_id
        %td= display.is_public
        %td= display.address
        %td
          %span.action-links
            = link_to 'Show', display
        %td
          %span.action-links
            = link_to 'Edit', edit_idea_path(display)
        %td
          %span.action-links
            = link_to 'Destroy', display, method: :delete, data: { confirm: 'Are you sure?' }



:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'all_ideas_map'}}, function(){
    markers = handler.addMarkers(#{@hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

