= display_for @idea do |display|

  %div{style: "width: 100%;"}
    #single_idea_map{style: "width: 100%; height: 400px;margin-bottom: 20px"}

  %ul.list-group{:id=>dom_id(@idea)}
    %li.list-group-item= display.default(:name)
    %li.list-group-item= display.default(:description)
    %li.list-group-item= display.default(:attachment)
    %li.list-group-item
      %strong Posted By:
      = @idea.user_id
    %li.list-group-item
      = display.default(:address)
      %br
      = display.default(:latitude)
      %br
      = display.default(:longitude)
    %li.list-group-item= display.default(:is_public)
    
= link_to 'Edit', edit_idea_path(@idea)
|
\#{link_to 'Back', ideas_path}


:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'single_idea_map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": #{@idea.latitude},
        "lng": #{@idea.longitude},
      }
      ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });

