= display_for @idea do |display|

  %ul.list-group{:id=>dom_id(@idea)}
    %li.list-group-item= display.default(:name)
    %li.list-group-item= display.default(:description)
    %li.list-group-item= display.default(:attachment)
    %li.list-group-item
      %strong Posted By:
      = @idea.user_id
    %li.list-group-item
      = display.default(:address)
      %br
      = display.default(:latitude)
      %br
      = display.default(:longitude)
    %li.list-group-item= display.default(:is_public)
    
= link_to 'Edit', edit_idea_path(@idea)
|
\#{link_to 'Back', ideas_path}

